*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:focus{
    outline: 0 !important;
}
form{
    max-width: 50vw;
    min-height: 90vh;
    margin: 2em auto;
}
h1{
    font-weight: lighter;
    font-size: 4em;
    text-align: center;
    padding: .7em 0;
}
input{
    display: block;
    padding:.9em;
    width: 100%;
    border-radius: .3em;
    border: 1px solid lightgrey;
}
button{
    display: block;
    border: none;
    padding: .7em 1.2em;
    margin: 1em auto;
    border-radius: .2em;
    background: rgb(170, 241, 170);
    cursor: pointer;

}
button:hover{
    background: rgb(110, 247, 110);
}